<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192815988000-b4ksjai42ejhtbn5ejk0e140ifnkh0s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192815988000-b4ksjai42ejhtbn5ejk0e140ifnkh0s2</string>
	<key>API_KEY</key>
	<string>AIzaSyCLu-PgaerNuDc5B9r0aB76-4nYKbL3qEk</string>
	<key>GCM_SENDER_ID</key>
	<string>192815988000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safePasswordWithHasura</string>
	<key>PROJECT_ID</key>
	<string>my-cloud-storage-safe</string>
	<key>STORAGE_BUCKET</key>
	<string>my-cloud-storage-safe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192815988000:ios:091045ef4e8a199cee6b45</string>
</dict>
</plist>